app = "REPLACE_API_GATEWAY_APP"
primary_region = "cdg"

[build]
  dockerfile = "services/api-gateway/Dockerfile"
  context = "."

[env]
  NODE_ENV = "production"
  PORT = "3000"

[[services]]
  internal_port = 3000
  processes = ["app"]

  [services.concurrency]
    type = "requests"
    hard_limit = 200
    soft_limit = 150

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
